* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", "Noto Sans", "Open Sans";
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav,
.header {
    background-color: #1f2937;
}

.nav {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
}

h1 {
    font-family: Roboto;
    font-size: 24px;
    color: #f9faf8;
    padding-left: 100px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 18px;
    padding-right: 100px;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 150px;
    gap: 20px;
    width: 100vw;
    min-height: 350px;
}

.header h2{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.header p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 10px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
}

.left-container {
    width: 400px;
}

.image {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 250px;
}

.card-container {
    max-width: 800px;
    min-height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}

.card {
    width: 200px;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
}

.card-illistration {
    width: 135px;
    margin: auto;
    aspect-ratio: 1/1;
    border: 4px solid blue;
    border-radius: 20px;
}

.card p {
    margin: 0 20px;
    text-align: center;
}

.quote {
    width: 100%;
    min-height: 350px;
    padding: 0 75px;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.quote p {
    max-width: 800px;
    font-size: 36px;
    font-weight: 300;
}

.quote > :last-child {
    width: 800px;
    text-align: right;
    font-weight: 900;
}

.container-four {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882f6;
    color: white;
    width: 800px;
    height: 100px;
    margin: 125px 0;
    border-radius: 10px;
}

.text > :first-child {
    font-weight: 900;
}

.container-four > button {
    border: 2px solid white;
    margin-left: 10px;
}

.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    width: 100vw;
    text-align: center;
    padding: 10px 0;
}